@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-item/header__lang-item.css);

.header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 28px;
    height: 52px;
    box-sizing: border-box;
}

@media screen and (max-width: 1230px) {
    .header {
        padding: 0 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 24px 0;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 0 16px 0;
        margin-top: 16px;
    }
}