@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__content/cover__content.css);

.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 92px auto 0;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    background-image: url(../../images/do-baikala.jpg);
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        margin: 92px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 432px) {
    .cover {
        max-width: 432px;
        min-height: 270px;
        margin: 64px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin: 64px auto 0;
    }
}