.place__link {
    max-width: 456px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .place__link {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        display: none;
    }
}